<div class="container mt-5">
    <div class="row">
        <div class="col-md-6" [formGroup]="form">
            <a class="btn btn-success btn-sm my-3" [routerLink]="['/addProduct']">Add Product</a>    
            <table class="table table-striped">  
                <tr>
                    <th>p_name</th>
                    <th>p_cost</th>
                    <th>rating</th>
                    <th>image</th>
                </tr>
                <tr *ngFor="let product of products">
                    <td>{{product.p_name}}</td>
                    <td>{{product.p_cost}}</td>
                    <td><ngx-star-rating formControlName="rating" [(ngModel)]=product.rating
                                         ></ngx-star-rating></td> 
                    <td><img src={{product.image}} width="100px" height="100px"></td>
                </tr>
            </table>
           
        </div>
        <div class="col-md-6">
            <router-outlet></router-outlet>
        </div>
    </div>
    
</div>

