<h1>{{var_11 | reverse}}</h1>

<h1>{{var_ten | async}}</h1>
<h1>{{var_nine | date:'fullDate'}}</h1>
<h1>{{var_nine | date:'medium'}}</h1>
<h1>{{var_nine | date:'short'}}</h1>
<h1>{{var_nine | date:'dd-MM-yyyy'}}</h1>
<h1>{{var_nine | date:'dd-MMM-yy'}}</h1>
<h1>{{var_nine | date:'dd-MM-yy'}}</h1>
<h1>{{var_eight | percent}}</h1>
<h1>{{var_seven | number:"4.1-1"}}</h1>
<h1>{{var_seven | number:"3.2-2"}}</h1>
<h1>{{var_six | slice:1:-2 }}</h1>
<h1>{{var_six | slice:1:-1 }}</h1>
<h1>{{var_six | slice:2}}</h1>
<h1>{{var_six | slice:0:1}}</h1>
<h1>{{var_six | slice:0:3}}</h1>
<h1>{{var_five | json}}</h1>
<h1>{{var_four | currency:"INR"}}</h1>
<h1>{{var_four | currency:"GBP"}}</h1>
<h1>{{var_four | currency}}</h1>
<h1>{{var_three | titlecase}}</h1>
<h1>{{var_two | lowercase}}</h1>
<h1>{{var_one | uppercase}}</h1>